span.dashicons.dashicons-image-rotate {
					background: #03a9f4;
                    color: #ffffff;
					border-radius:3px;
					padding:5px;
					cursor: pointer;
					box-sizing:border-box;
					font-size: 14px;
             }	
			.cev_action .dashicons {
				font-size:25px;
				width: 25px;
   				height: 25px;
			}
			span.dashicons.dashicons-image-rotate.cev-admin-dashicons.cev-rotate {
   				 padding: 3px;
			}
			span.dashicons.dashicons-no.no-border {
   				 color: #f44336;
				 background:none;
				 font-size:25px;
				 text-decoration: none;
			}
			span.dashicons.dashicons-no {
   				background: #616161;
   				color: #ffffff;
				cursor: pointer;
   				border-radius: 3px;
			}
			span.dashicons.dashicons-yes.cev_5 {
			color:#8bc34a;
			background:none;
			font-size:20px;
			text-decoration: none;
			}
			span.dashicons.dashicons-yes.small-yes {
   			background: #8bc34a;
   			color: #ffffff;
			border-radius: 3px;
			cursor: pointer;
			}
			.cev_10{
			margin-right:3px;
			}
			.cev_5{
			margin-right:5px;
			}	
			h4.cev_admin_user {
   			width: max-content;
    		font-weight: bold;
    		font-size: 16px;
			margin-bottom: -2px;
			margin-top: 0px;
			}
			a.button-primary.cev-admin-resend-button {
    		background: #03a9f4;
    		border-color: #03a9f4;
			font-size: 14px;
			margin-right:10px;
			}
            a.button-primary.cev-admin-resend-button:focus,a.button-primary.cev-admin-resend-button:hover,a.button-primary.cev-admin-resend-button:active{
    		background: #03a9f4;
    		border-color: #03a9f4;
			box-shadow:none;
			}
			a.button-primary.cev-admin-unverify-button{
    		background: #616161;
   		    border: #616161;
    		font-size: 14px;
			margin-right:10px;
            }
			a.button-primary.cev-admin-unverify-button:focus,a.button-primary.cev-admin-unverify-button:hover,a.button-primary.cev-admin-unverify-button:active{
    		background: #616161;
    		border-color: #616161;
			box-shadow:none;
			}
			a.button-primary.cev-admin-verify-button {
    		background: #8bc34a;
    		border-color: #8bc34a;
    		font-size: 14px;
			margin-right:10px;
			}
			a.button-primary.cev-admin-verify-button:focus,a.button-primary.cev-admin-verify-button:hover,a.button-primary.cev-admin-verify-button:active{
    		background: #8bc34a;
    		border-color: #8bc34a;
			box-shadow:none;
			}
			table.form-table.cev-admin-menu{
    		 width: 800px;
   			 border: solid 1px #e0e0e0;
   			 background: #ffffff;
   			}
			.cev-admin-menu tr {
    		border-bottom: 1px solid #e0e0e0;
			}
			.cev-admin-menu th {
    		padding: 20px 10px 20px 10px;
			}
			.cev-admin-dashicons{
			vertical-align: middle;
			}
			th#cev_action {
    		width: 65px;
			}
			th#cev_verified {
    		width: 90px;
			}
/** Snackbar CSS **/

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
   from {bottom: 0; opacity: 0;}
   to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
   from {bottom: 0; opacity: 0;}
   to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
   from {bottom: 30px; opacity: 1;}
   to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
   from {bottom: 30px; opacity: 1;}
   to {bottom: 0; opacity: 0;}
}

/* The snackbar - position it at the bottom and in the middle of the screen */
.zorem_snackbar_user_admin {
   visibility: hidden; /* Hidden by default. Visible on click */
   min-width: 250px; /* Set a default minimum width */
   margin-left: -125px; /* Divide value of min-width by 2 */
   background-color: #03a9f4; /* Black background color */
   color: #fff; /* White text color */
   text-align: center; /* Centered text */
   border-radius: 2px; /* Rounded borders */
   padding: 16px; /* Padding */
   position: fixed; /* Sit on top of the screen */
   z-index: 1; /* Add a z-index if needed */
   left: 50%; /* Center the snackbar */
   bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
.show_snackbar_user_admin {
   visibility: visible !important; /* Show the snackbar */
-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
   animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
.spinner.active {
	visibility: visible;
}